.game
  img.game__photo(src="https://media.rawg.io/media/games/672/67272c0ae016e71bf46c8e337803d7da.jpg")
  .textuals
    .game__meta
      span 32 sessions
      span PC
    .game__title
      h3.game__title-text Warcraft 3: The Frozen Throne
    .properties
      ul.properties-list
        li.properties__item 
          span.properties__item-key Release Date
          span.properties__item-value 2003-06-30
        li.properties__item
          span.properties__item-key Genre
          span.properties__item-value RTS
        li.properties__item
          span.properties__item-key Participants
          span.properties__item-value 2-12
