.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 1.6rem 15rem;
  box-shadow: var(--shadow-1);
}
.alert--success {
  background-color: var(--color-primary);
}
.alert--error {
  background-color: var(--color-red);
}
