.user-view__form-container
  h2.heading-secondary.margin-bottom-lg Password change
  form.form.form-user-settings(v-on:submit.prevent="updatePassword" v-on:input="validate($event)")
    .form__group
      label.form__label(for='password-current') Current password
      input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8' v-model='currentPassword')
    .form__group
      label.form__label(for='password') New password
      input#password.form__input(type='password', placeholder='••••••••', required, minlength='8' v-model='password')
    .form__group.ma-bt-lg
      label.form__label(for='password-confirm') Confirm password
      input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8' v-model='passwordConfirm')
    .form__group.right
      button.btn--form.btn--small.btn--green.btn--save(type="submit" :disabled="isSaving") {{ saveBtnText }}
  .errors-container
    ul.errors(v-if="errors.length !== 0")
      li.error-item(v-for="error in errors")
        span {{ error }}

