mixin navItem(routeName, linkText)
  li.side-nav__item(:class=`$route.name === '${routeName}'?'side-nav__item--active':''`)
    router-link.side-nav__link.btn--link(:to=`{ name: '${routeName}'}`) #{linkText}

main.main
  .user-view
    nav.user-view__menu
      ul.side-nav
        +navItem('profile','Profile')
        +navItem('password','Change Password')
      template(v-if='isAdmin')
        .admin-nav
          h5.admin-nav__heading Admin
          ul.side-nav
            li.side-nav__item
              router-link.side-nav__link.btn--link(:to="{ name: 'events'}") Gaming Events
    .user-view__content
      router-view