main.main
  .form-container.signup-form
    h2.heading-secondary.margin-bottom-lg Create your account
    form.form(v-on:submit.prevent="handleSubmit")
      .form__group
        label.form__label(for='email') Email address
        input#email.form__input(type='email', placeholder='you@example.com', required v-model='emailAddress')
      .form__group.ma-bt-md
        label.form__label(for='password') Password
        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8' v-model='password')
      .form__group.ma-bt-md
        label.form__label(for='password') Confirm Password
        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8' v-model='passwordConfirm')
      .form__group
        button.btn--form.btn--green Sign up