.header {
  padding: 0 5rem;
  height: 8rem;
  background-color: var(--color-grey-dark-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.header__logo img {
  height: 3.5rem;
}

.nav-user {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 1.5rem;
  }

  &__avatar-link {
    display: flex !important;
    align-items: center;
    color: var(--color-white);
  }

  &__avatar {
    width: 32px;
    border-radius: 100px;
    margin-right: 1rem;
  }
}
