header.header
  .nav.nav-home
    router-link.btn.btn--nav.btn--green(to=`/`) Events
  .header__logo
    img(src='./../../assets/img/logo.png' alt='Logo')
  nav.nav.nav-user
    template(v-if="!isLoggedIn")
      router-link.nav-user__link.btn.btn--nav.btn--green(to='/login') Log in
      router-link.nav-user__link.btn.btn--nav.btn--green(to='/signup') Sign up
    template(v-else)
      a.nav__el.nav--logout Log out
      a.nav__el(href='#')
        img.nav__user-img(src=`` alt=`Photo of`)
        span Frost He
