.user-view__form-container
  h2.heading-secondary.margin-bottom-lg Your account settings
  form.form.form-user-data
    .form__group.form__photo-upload
      img.form__user-photo(src='./../../assets/img/avatar-placeholder-720.webp', alt='User photo')
      a.btn-text(href='#') Choose new photo
    .form__group
      label.form__label(for='username') Username
      input#username.form__input(type='text', v-model='username', required)
    .form__group.right
      button.btn--form.btn--small.btn--green Save settings
