.user-view__form-container
  h2.heading-secondary.margin-bottom-lg Your account settings
  form.form.form-user-data(v-on:submit.prevent="updateMe")
    .form__group.form__photo-upload
      img.form__user-photo(:src='photo', alt='User avatar')
      input.form__upload(type="file" accept="image/*" id="photo", name="photo" v-on:change="onPhotoChange")
      label(for="photo") Choose new avatar
    .form__group
      label.form__label(for='username') Username
      input#username.form__input(type='text', v-model='username', required)
    .form__group.right
      button.btn--form.btn--small.btn--green Save Changes
