main.main
  BusyLoader(v-if="isLogging")
  .form-container.login-form(v-else)
    h2.heading-secondary.margin-bottom-lg Log into your account
    form.form(v-on:submit.prevent="handleSubmit")
      .form__group
        label.form__label(for='email') Email address
        input#email.form__input(type='email', placeholder='you@example.com', required v-model='emailAddress')
      .form__group.ma-bt-md
        label.form__label(for='password') Password
        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8' v-model='password')
      .form__group
        button.btn--form.btn--green.btn--login(type="submit") Login