.login-form {
  max-width: 65rem;
}

.btn--login {
  &:disabled {
    background-color: var(--color-grey-dark-2);
    color: var(--color-grey-dark-3);
    border-color: var(--color-grey-dark-2);
  }
}

.loader {
  display: inline-block;
  width: 1rem;
}
