// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #a9a9a9;
// $color-grey-dark-3: #333;

// $color-white: #fff;
// $color-black: #000;

:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #a9a9a9;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;
  --color-red: rgb(255, 55, 55);

  --default-font-size: 1.6rem;

  --shadow-1: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.2);
  --shadow-2: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  --shadow-3: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
